<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>OSF Global</title>
</head>
<h4>Cart</h4>
<body>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/ecart">Cart</a></li>  
      </ul>

      <h1>Cart is empty.</h1>

      <footer>
        <%- include('partials/footer'); %>
      </footer>
      </html>