html {
    background-color: aliceblue;
}


body {
    color: black;
    margin: 5;
    
    padding: 0 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb{
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

.breadcrumb li{
  float: left;
}

.breadcrumb a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

.breadcrumb li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:hover{
  background: #fff;
}

.breadcrumb a::after,
.breadcrumb a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrumb a::after{
  z-index: 2;
  border-left-color: #ddd;
}

.breadcrumb a::before{
  border-left-color: #ccc;
  right: -1.1em;
  z-index: 1;
}

.breadcrumb a:hover::after{
  border-left-color: #fff;
}

.breadcrumb .current,
.breadcrumb .current:hover{
  font-weight: bold;
  background: none;
}

.breadcrumb .current::after,
.breadcrumb .current::before{
  content: normal;
}

p.signbutton {
  display: inline;
  font-size: 18px;
  margin-right: 100px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  list-style: none;
  justify-content: center ;
  /* justify-content: space-evenly; */
  align-content: center;
  padding: 20px;
  margin-right: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  display: inline-block;
  margin-right: 200px;
  width: 250px;
  vertical-align: center;
  text-align: center;
  font-family: arial;
  
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  list-style: none;
  justify-content: center ;
  /* justify-content: space-evenly; */
  align-content: center;
  padding: 20px;
  
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  
  
  width: 400px;
  vertical-align: center;
  text-align: center;
  font-family: arial;
}

.cards button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(204, 134, 54);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cards button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(204, 134, 54);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.h button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(204, 134, 54);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(204, 134, 54);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #54d154;
  color: white;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}